[View in Colaboratory](https://colab.research.google.com/github/matheus217/projeto-machine-learn/blob/master/mlp_ann.ipynb)

In [0]:
# Artificial Neural Network
# from https://www.superdatascience.com/machine-learning/ 

# Installing Theano
# pip install --upgrade --no-deps git+git://github.com/Theano/Theano.git

# Installing Tensorflow
# Install Tensorflow from the website: https://www.tensorflow.org/versions/r0.12/get_started/os_setup.html

# Installing Keras
# pip install --upgrade keras

# Part 1 - Data Preprocessing

# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [0]:
print("Teste")

Teste

In [0]:
import os
import tarfile
from six.moves import urllib

FILE_TO_DOWNLOAD =  "Churn_Modelling.csv"
DOWNLOAD_ROOT = "https://github.com/ect-info/ml/raw/master/"
DATA_PATH = "dados/"
DATA_URL = DOWNLOAD_ROOT + DATA_PATH + FILE_TO_DOWNLOAD

def fetch_data(data_url=DATA_URL, data_path=DATA_PATH, file_to_download=FILE_TO_DOWNLOAD):
  if not os.path.isdir(data_path):
    os.makedirs(data_path)
  urllib.request.urlretrieve(data_url, data_path+file_to_download)
  
  
fetch_data()

# observando se o diretório datasets foi criado com sucesso 
!ls dados

Churn_Modelling.csv

In [0]:
# Importing the dataset
dataset = pd.read_csv(DATA_PATH+'Churn_Modelling.csv')


dataset.head(  )

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [0]:
X = dataset.iloc[:,[3,6,7,8,9,10,11,12]].values
y = dataset.iloc[:, 13].values

print(X[0:6,:])

[[6.1900000e+02 4.2000000e+01 2.0000000e+00 0.0000000e+00 1.0000000e+00
  1.0000000e+00 1.0000000e+00 1.0134888e+05]
 [6.0800000e+02 4.1000000e+01 1.0000000e+00 8.3807860e+04 1.0000000e+00
  0.0000000e+00 1.0000000e+00 1.1254258e+05]
 [5.0200000e+02 4.2000000e+01 8.0000000e+00 1.5966080e+05 3.0000000e+00
  1.0000000e+00 0.0000000e+00 1.1393157e+05]
 [6.9900000e+02 3.9000000e+01 1.0000000e+00 0.0000000e+00 2.0000000e+00
  0.0000000e+00 0.0000000e+00 9.3826630e+04]
 [8.5000000e+02 4.3000000e+01 2.0000000e+00 1.2551082e+05 1.0000000e+00
  1.0000000e+00 1.0000000e+00 7.9084100e+04]
 [6.4500000e+02 4.4000000e+01 8.0000000e+00 1.1375578e+05 2.0000000e+00
  1.0000000e+00 0.0000000e+00 1.4975671e+05]]

In [0]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [0]:
# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [0]:
# Part 2 - Now let's make the ANN!

# Importing the Keras libraries and packages
import keras
from keras.models import Sequential
from keras.layers import Dense

# Initialising the ANN
classifier = Sequential()

In [0]:
# Adding the input layer and the first hidden layer
classifier.add(Dense( activation = 'relu', input_dim = 8, units = 16, kernel_initializer = 'uniform'))

# Adding the second hidden layer
#classifier.add(Dense( activation = 'relu', units = 6, kernel_initializer = 'uniform' ))

# Adding the output layer
classifier.add(Dense( activation = 'sigmoid', units = 1, kernel_initializer = 'uniform'))

In [0]:

# Compiling the ANN
classifier.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

In [0]:
# Fitting the ANN to the Training set
classifier.fit(X_train, y_train, batch_size = 30, epochs = 40)

Epoch 1/40
8000/8000 [==============================] - 0s 53us/step - loss: 0.3551 - acc: 0.8562
Epoch 2/40
8000/8000 [==============================] - 0s 51us/step - loss: 0.3544 - acc: 0.8554
Epoch 3/40
8000/8000 [==============================] - 0s 51us/step - loss: 0.3547 - acc: 0.8545
Epoch 4/40
8000/8000 [==============================] - 0s 51us/step - loss: 0.3548 - acc: 0.8560
Epoch 5/40
8000/8000 [==============================] - 0s 53us/step - loss: 0.3545 - acc: 0.8555
Epoch 6/40
8000/8000 [==============================] - 0s 50us/step - loss: 0.3549 - acc: 0.8552
Epoch 7/40
8000/8000 [==============================] - 0s 51us/step - loss: 0.3554 - acc: 0.8536
Epoch 8/40
8000/8000 [==============================] - 0s 53us/step - loss: 0.3555 - acc: 0.8550
Epoch 9/40
8000/8000 [==============================] - 0s 53us/step - loss: 0.3549 - acc: 0.8531
Epoch 10/40
8000/8000 [==============================] - 0s 54us/step - loss: 0.3549 - acc: 0.8551
Epoch 11/40
8000/8000 [==============================] - 0s 54us/step - loss: 0.3551 - acc: 0.8547
Epoch 12/40
8000/8000 [==============================] - 0s 53us/step - loss: 0.3552 - acc: 0.8552
Epoch 13/40
8000/8000 [==============================] - 0s 51us/step - loss: 0.3550 - acc: 0.8555
Epoch 14/40
8000/8000 [==============================] - 0s 52us/step - loss: 0.3553 - acc: 0.8537
Epoch 15/40
8000/8000 [==============================] - 0s 51us/step - loss: 0.3553 - acc: 0.8535
Epoch 16/40
8000/8000 [==============================] - 0s 51us/step - loss: 0.3554 - acc: 0.8556
Epoch 17/40
8000/8000 [==============================] - 0s 51us/step - loss: 0.3555 - acc: 0.8555
Epoch 18/40
8000/8000 [==============================] - 0s 50us/step - loss: 0.3550 - acc: 0.8542
Epoch 19/40
8000/8000 [==============================] - 0s 51us/step - loss: 0.3553 - acc: 0.8545
Epoch 20/40
8000/8000 [==============================] - 0s 49us/step - loss: 0.3556 - acc: 0.8530
Epoch 21/40
8000/8000 [==============================] - 0s 50us/step - loss: 0.3549 - acc: 0.8570
Epoch 22/40
8000/8000 [==============================] - 0s 50us/step - loss: 0.3545 - acc: 0.8562
Epoch 23/40
8000/8000 [==============================] - 0s 51us/step - loss: 0.3554 - acc: 0.8532
Epoch 24/40
8000/8000 [==============================] - 0s 50us/step - loss: 0.3547 - acc: 0.8535
Epoch 25/40
8000/8000 [==============================] - 0s 53us/step - loss: 0.3547 - acc: 0.8581
Epoch 26/40
8000/8000 [==============================] - 0s 51us/step - loss: 0.3553 - acc: 0.8540
Epoch 27/40
8000/8000 [==============================] - 0s 50us/step - loss: 0.3555 - acc: 0.8541
Epoch 28/40
8000/8000 [==============================] - 0s 52us/step - loss: 0.3552 - acc: 0.8554
Epoch 29/40
8000/8000 [==============================] - 0s 50us/step - loss: 0.3553 - acc: 0.8535
Epoch 30/40
8000/8000 [==============================] - 0s 51us/step - loss: 0.3554 - acc: 0.8554
Epoch 31/40
8000/8000 [==============================] - 0s 51us/step - loss: 0.3546 - acc: 0.8552
Epoch 32/40
8000/8000 [==============================] - 0s 50us/step - loss: 0.3554 - acc: 0.8559
Epoch 33/40
8000/8000 [==============================] - 0s 50us/step - loss: 0.3548 - acc: 0.8565
Epoch 34/40
8000/8000 [==============================] - 0s 50us/step - loss: 0.3555 - acc: 0.8535
Epoch 35/40
8000/8000 [==============================] - 0s 51us/step - loss: 0.3544 - acc: 0.8556
Epoch 36/40
8000/8000 [==============================] - 0s 50us/step - loss: 0.3549 - acc: 0.8546
Epoch 37/40
8000/8000 [==============================] - 0s 50us/step - loss: 0.3551 - acc: 0.8566
Epoch 38/40
8000/8000 [==============================] - 0s 51us/step - loss: 0.3549 - acc: 0.8547
Epoch 39/40
8000/8000 [==============================] - 0s 50us/step - loss: 0.3549 - acc: 0.8565
Epoch 40/40
8000/8000 [==============================] - 0s 50us/step - loss: 0.3552 - acc: 0.8539

In [0]:
# Part 3 - Making the predictions and evaluating the model

# Predicting the Test set results
y_pred = classifier.predict(X_test)
y_pred = (y_pred > 0.5)

# Making the Confusion Matrix
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)

In [0]:
print("Matriz de Confusão:")
print(cm)
print("Taxa de acerto:")
print((cm[0,0]+cm[1,1])/len(y_test) )

Matriz de Confusão:
[[1525   70]
 [ 215  190]]
Taxa de acerto:
0.8575